:root {
  --background1: #454545;
  --text-color: whitesmoke;
  --text-color2: #f3c376;
  --bg-color2: #222222;
  --bg-color3: #edede9;
  --bg-color4: #2c2c2c;
}
body {
  letter-spacing: 2px;
  max-height: max-content;
}

.hero-section {
  background-image: url(/img/favorite-background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
}
h1 {
  padding-top: 20%;
  color: var(--bg-color3);
  text-transform: uppercase;
  text-align: center;
  font-size: 60px;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  animation-duration: 3s;
  animation-name: fadeAndScale;
}
@keyframes fadeAndScale {
  from {
    opacity: 0;
    transform: scale(0.9, 0.9);
  }
  to {
    opacity: 1;
    transform: scale(1, 1);
  }
}

.favorite-retete {
  max-height: max-content;
  background-color: var(--bg-color4);
  padding-top: 30px;
  padding-bottom: 30px;
}
#favorite-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.card {
  width: 18rem;
  height: 480px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: transparent;
  border: 1px solid var(--bg-color3);
  text-align: center;
}

.card-img-top {
  max-width: 100%;
  width: 285px;
  height: 285px;
  object-fit: cover;
}

.card-body {
  padding: 20px;
}

.card-title {
  font-size: 18px;
  font-weight: bold;
  color: var(--text-color);
  position: relative;
  top: -50px;
}

.btn {
  position: absolute;
  bottom: 50px;
  left: 10px;
  padding: 5px 80px 5px 80px;
  z-index: 4;
  cursor: pointer;
  border: 1px solid #f3c376;
  color: var(--bg-color3);
  background-color: transparent;
}
.btn:hover {
  color: var(--text-color2);
}
#favorite-btn {
  display: none;
}
.remove-btn {
  z-index: 4;
  cursor: pointer;
  position: relative;
  bottom: 0px;
  padding: 0px 100px 0px 100px;
  width: 100%;
  background-color: #f3c376;
  border: none;
}
@media (max-width: 789px) {
  h1 {
    padding-top: 250px;
  }
}
