:root {
  --background1: #454545;
  --text-color: whitesmoke;
  --text-color2: #f3c376;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url(../img/fridge-background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 120vh;
  min-height: max-content;
  display: flex;
  flex-direction: column;
}
.fridge {
  max-width: 100%;
  margin-bottom: 100px;
  width: fit-content;
  min-height: max-content;
  height: auto;
  color: var(--background1);
  margin-top: 200px;
  margin-left: 5%;
  margin-right: 5%;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.3)
  );
  padding: 30px;
  border-radius: 25px;
  margin-bottom: 50px;
  font-size: 1rem;
}

.ingredients {
  z-index: 4;
  width: 50%;
}
.ingredients-button {
  z-index: 4;
  background-color: var(--text-color2) !important;
  border: none;
  padding: 0 10px 0 10px;
  color: var(--background1);
  cursor: pointer;
}
#recipes-container ul {
  list-style-type: square;
  text-align: justify;
  padding-top: 20px;
  padding-left: 20px;
  flex: 1 1 50%;
  margin-bottom: 10px;
}
@media (max-width: 758px) {
  h2 {
    font-size: 20px;
  }
  .fridge {
    height: auto;
    margin-left: 2%;
    margin-right: 2%;
  }
  body {
    height: 120vh;
  }
}
@media screen and (orientation: landscape) {
  body {
    height: auto;
  }
}
