:root {
  --background1: #454545;
  --text-color: whitesmoke;
  --text-color2: #f3c376;
  --bg-color2: #222222;
  --bg-color3: #edede9;
}
body {
  width: 100%;
  letter-spacing: 2px;
}
/* Hero Section */

.hero-section {
  background-image: url(../img/background-index.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.hero-section {
  height: 100vh;
}

.cta-img img {
  margin-top: 200px;
  width: 95%;
  border-radius: 25px;
  margin-left: 0px;
  max-width: 100%;
  animation: easeIn 3s forwards;
}
.cta-text {
  margin-top: 200px;
  color: var(--text-color);
  font-size: 2rem;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  text-align: center;
  margin-bottom: 30px !important;
  z-index: 3;
  animation-duration: 3s;
  animation-name: fadeAndScale;
}

.cta-btn {
  margin: 1rem;
  padding: 0.3rem 1rem;
  background: var(--text-color2);
  font-family: 'Poppins';
  border-radius: 0.3rem;
  color: rgb(33, 33, 33);
  border: none;
  font-size: 0.9rem;
  cursor: pointer;
}
.cook {
  font-family: 'Great Vibes', cursive;
  font-size: 45px;
}
@keyframes easeIn {
  from {
    margin-left: 0px;
  }
  to {
    margin-left: 30px;
  }
}
@keyframes fadeAndScale {
  from {
    opacity: 0;
    transform: scale(0.9, 0.9);
  }
  to {
    opacity: 1;
    transform: scale(1, 1);
  }
}

@media (max-width: 768px) {
  .cta-text {
    margin-top: auto;
  }

  .cta-img img {
    width: 100%;
    margin-left: 0;
    margin-top: 150px;
    animation: none;
  }
  .hero-section {
    height: fit-content;
    margin-left: 0;
  }
}
/* Top-three Section */

.top-three {
  padding-top: 5%;
  background-color: var(--bg-color2);
  min-height: 100vh;
  padding-bottom: 5%;
}
.top-h1 {
  color: var(--text-color2);
  font-family: 'Great Vibes', cursive;
}
.top-h4 {
  color: var(--bg-color3);
}
.card {
  /* z-index: 6; */
  max-width: 100%;
  width: 350px;
  height: 500px;
  background-color: transparent;
  text-align: center;
  color: var(--bg-color3);
  border: 1px solid var(--bg-color3);
  margin-top: 20px;
  box-shadow: 0px 0px 0px grey;
  transition: box-shadow .6s ease-out;
  -webkit-transition:  box-shadow .6s ease-out;
  box-shadow: .8px .9px 3px grey;

}
.card-body{
  display: flex;
  flex-direction: column;
}
.card:hover{ 
  box-shadow: 1px 8px 20px grey;
  transition: box-shadow .6s ease-in ;
 -webkit-transition:  box-shadow .6s ease-in;
}
.card-img-top {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.top-three p {
  padding-bottom: 10px;
}
.btn-top {
  z-index: 3;
  padding: 0.3rem 1rem;
  background: var(--bg-color2);
  font-family: 'Poppins';
  border: 1px solid var(--text-color2);
  border-radius: 0.3rem;
  color:var(--text-color2);
  font-size: 0.9rem;
  cursor: pointer;
}


/* Today's spacial section */

.today-special {
  background-image: url(../img/pizza.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
}
.today-card {
  padding-top: 10%;
  padding-bottom: 5%;
  margin-right: 60px;
}
.special-card {
  z-index: 5;
  height: 280px;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.9),
    rgba(255, 255, 255, 0.6)
  );

  border-radius: 25px;
  text-align: center;
}
.special-card h1 {
  font-family: 'Great Vibes', cursive;
  color: var(--text-color2);
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.9);
}
.card-title,
.card-subtitle,
.card-text2 {
  color: var(--background1);
}
.special-card button {
  margin: 1rem;
  padding: 0.3rem 1rem;
  background: var(--text-color2);
  font-family: 'Poppins';
  border-radius: 0.3rem;
  color: var(--background1);
  border: 1px solid var(--text-color2);
  font-size: 0.9rem;
  cursor: pointer;
}
