:root {
  --background1: #454545;
  --text-color: whitesmoke;
  --text-color2: #f3c376;
  --bg-color2: #222222;
  --bg-color3: #edede9;
}
body {
  letter-spacing: 2px;
  max-height: fit-content;
}

/* Hero section */

.hero-section {
  background-image: url(/img/tipuri-de-retete.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 70vh;
  max-height: max-content;
}
h1 {
  padding-top: 200px;
  color: var(--bg-color3);
  text-transform: uppercase;
  text-align: center;
  font-size: 60px;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  animation-duration: 3s;
  animation-name: fadeAndScale;
}
@keyframes fadeAndScale {
  from {
    opacity: 0;
    transform: scale(0.9, 0.9);
  }
  to {
    opacity: 1;
    transform: scale(1, 1);
  }
}

/* Cards section */

.cards-section {
  background-color: #2c2c2c;
  max-height: max-content;
}

.card {
  max-width: 100%;
  max-height: max-content;
  height: 510px;
  width: 320px !important;
  margin: 10px;
  border: 1px solid var(--bg-color3);
  background-color: transparent;
  color: var(--bg-color3);
}
.card:hover {
  box-shadow: 1px 8px 20px grey;
  transition: box-shadow 0.3s ease-in;
  -webkit-transition: box-shadow 0.3s ease-in;
}
.card a:hover {
  color: var(--text-color2);
}
.card-body {
  display: flex;
  flex-direction: column;
}
.btn {
  position: absolute;
  bottom: 80px;
  left: 15px;
  width: 90%;
  padding: 5px 80px 5px 80px;
  z-index: 4;
  cursor: pointer;
  border: 1px solid #f3c376;
  color: var(--bg-color3);
  background-color: transparent;
}
.card-img-top {
  max-width: 100%;
  width: 320px;
  height: 285px;
}

#favorite-btn {
  width: 90%;
  text-align: center;
  padding: 5px 45px 5px 45px;
  z-index: 4;
  cursor: pointer;
  border: 1px solid #f3c376;
  color: var(--bg-color2);
  background-color: var(--text-color2);
  border-radius: 5px;
  position: absolute;
  bottom: 20px;
  left: 15px;
  text-decoration: none;
}
@media (max-width: 768px) {
  .footer {
    margin: 0;
    height: 500px;
  }
}
